@model MVC_SEGURIDAD.Models.CRUD.USUARIOcrudUpdate
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Actualizar";

}

<h2>Agregar</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Actualizar", "Usuario", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d =>d.CodUser)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            @Html.LabelFor(d => d.USUARIO)
            @Html.TextBoxFor(d => d.USUARIO, new { @class = "form-control" })
            @Html.ValidationMessage("USUARIO", new { @class = "text-danger" })

            @Html.LabelFor(d => d.PASSWORD)
            @Html.TextBoxFor(d => d.PASSWORD, new { @class = "form-control" })
            @Html.ValidationMessage("PASSWORD", new { @class = "text-danger" })

            @Html.LabelFor(d => d.RePASSWORD)
            @Html.TextBoxFor(d => d.RePASSWORD, new { @class = "form-control" })
            @Html.ValidationMessage("RePASSWORD", new { @class = "text-danger" })

            @Html.LabelFor(d => d.CODESTADO)
            @Html.TextBoxFor(d => d.CODESTADO, new { @class = "form-control" })


            @Html.LabelFor(d => d.CODROL)
            @Html.TextBoxFor(d => d.CODROL, new { @class = "form-control" })

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />

            </div>

        }
    </div>
</div>
