
@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Materias</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Materias/Agregar")'" value="Nuevo" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>

            @foreach (var oModelo in Model)
            {
        <tr>
            <td>@oModelo.id_materia</td>
            <td>@oModelo.nombre_materia</td>
            <td>@oModelo.facultad</td>

            @{var m = oModelo.estado;}

            @if (m == 1)
            {
                <td>Activa</td>
            }
            else
            {
                <td>Inactiva</td>
            }

            <td>
                <input type="button" onclick="document.location.href='@Url.Content("~/Materias/Actualizar/"+oModelo.id_materia)'" value="Editar" class="btn btn-default" />
            </td>

        </tr>

            }


        </table>
    </div>
</div>

