<!-- Se importa el modelo de datos a usar en la página-->
@model MVC_SEGURIDAD.Models.CRUD.GRUPOScrudUpdate

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar Docente</h2>

<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Actualizar", "Grupos", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.id_grupo)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            <div>
                @Html.LabelFor(d => d.id_grupo)
                @Html.TextBoxFor(d => d.id_grupo, new { @class = "form-control" })
                @Html.ValidationMessage("id_grupo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(d => d.horario_materia)
                @Html.TextBoxFor(d => d.horario_materia, new { @class = "form-control" })
                @Html.ValidationMessage("horario_materia", new { @class = "text-danger" })
            </div>


            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />

            </div>

        }
    </div>
</div>
