@using MVC_SEGURIDAD.Models.CRUD
@model ALUMNOScrudUpdate
@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar Alumno</h2>
<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Actualizar", "Alumnos", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.id_alumno)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            <div>
                @Html.LabelFor(d => d.nombre)
                @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("NOMBRE", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(d => d.apellido)
                @Html.TextBoxFor(d => d.apellido, new { @class = "form-control" })
                @Html.ValidationMessage("APELLIDO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(d => d.correo)
                @Html.TextBoxFor(d => d.correo, new { @class = "form-control" })
                @Html.ValidationMessage("CORREO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(d => d.carrera)
                @Html.DropDownList("carrera", new SelectList(Enum.GetValues(typeof(carrera))), "Seleccione facultad", new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(d => d.estado)
                @Html.DropDownList("estado", new SelectList(Enum.GetValues(typeof(estadosAlumnos))), "Seleccione estado", new { @class = "form-control" })
            </div>

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />

            </div>

        }
    </div>
</div>

