<!-- Se importa el modelo de datos a usar en la página-->
@model MVC_SEGURIDAD.Models.CRUD.ROLEScrudUpdate

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Actualizar", "Roles", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.CODROL)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            @Html.LabelFor(d => d.NOMROL)
            @Html.TextBoxFor(d => d.NOMROL, new { @class = "form-control" })


            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />

            </div>

        }
    </div>
</div>